@media (max-width: 375px) {
  header {
    padding: 0px;
  }
  .navbar {
    padding: 10px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Very-Dark-Blue);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    transition: 0.3s;
    z-index: 10;
  }
  .nav-menu li a {
    color: white;
    font-size: 1.65rem;
  }
  .nav-item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 300px;
    padding-top: 0.65rem;
    border-top: 2px solid var(--Grayish-Blue);
  }

  .nav-menu.active {
    left: 0;
  }

  ul .login-button {
    background: transparent;
    border: 2px solid white;
    width: 100%;
    width: 300px;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .social_media_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .simple_bookmark {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem;
    padding: 10px;
  }

  .blue_bar_right {
    width: 300px;
    height: 200px;
    right: 0;
    top: 15%;
  }
  .sub_simple_bookmark {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .sub_simple_bookmark div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  .btn_chrome,
  .btn_firefox {
    width: 120px;
  }

  .simple_bookmark p {
    width: 90%;
  }
  .simple_bookmark h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  .features p {
    width: 90%;
  }
  .simple_bookmarking li {
    border-top: 1px solid var(--Grayish-Blue);
    padding: 10px 0;
    margin: 0;
    text-align: center;
  }
  .bookmark_click img {
    display: block;
    width: 100%;
    /* padding: 0 50px; */
    padding-left: 20px;
  }
  .simple_bookmarking {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 80%;
  }
  .simple_bookmarking ul {
    padding: 0;
    margin: 0;
  }
  .bookmark_click {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10px;
  }
  .blue_bar_left {
    width: 300px;
    height: 200px;
    top: 15%;
  }
  .sub_bookmark_click p {
    width: 80%;
    font-size: 0.7rem;
  }

  .sub_bookmark_click {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }
  .download_extension {
    padding: 50px 0;
  }
  .download_extension p {
    width: 78%;
    font-size: 0.7rem;
  }
  .web_browsers {
    display: grid;
    grid-template-columns: 80%;
    gap: 0rem;
  }
  .web_browsers article:nth-child(3) {
    margin-top: 4rem;
  }
  .web_browsers article {
    border: 0.5px solid var(--Grayish-Blue);
  }
  .faq_container {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .faq_container p {
    width: 90%;
  }
  .faqContainer {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .faq_accordion {
    width: 80%;
  }

  .stay_up_to_date h2 {
    width: 80%;
    font-size: 1.15rem;
  }
  .stay_up_to_date p {
    width: 80%;
    font-size: 0.5rem;
    text-align: center;
  }
  .stay_up_to_date form {
    width: 90%;
    display: grid;
    gap: 1rem;
  }

  #email-error {
    top: 2px;
    position: absolute;
    left: 2px;
  }
  #submit {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    background: var(--Very-Dark-Blue);
  }

  footer .social_medias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    min-height: 100vh;
  }
  .sub_social_medias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sub_social_medias img {
    display: block;
    width: 100%;
  }
  .sub_social_medias a {
    font-size: 1.5rem;
  }
  .social_media_nav a {
    font-size: 1.5rem;
  }
  /* ------------------------------------------------------------- */

  .dropdown-content {
    width: 100%;
  }
  .share_bookmarks {
    width: 100%;
  }
  .dropdown-content p {
    width: 100%;
  }
}
